In [67]:
import pandas as pd

In [68]:
stats = pd.read_csv("player_mvp_stats.csv")

In [69]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [70]:
del stats["Unnamed: 0"]

In [71]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [72]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [73]:
#fills all null stats with 0
stats = stats.fillna(0)

In [74]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [75]:
#remove strings/non numerics/ things we want to predict from stats.column
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [76]:
train = stats[stats["Year"] < 2022]

In [77]:
test = stats[stats["Year"] == 2022]

In [78]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\michael\appdata\local\programs\python\python311\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\michael\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\michael\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\michael\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\michael\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [79]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [80]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [81]:
predictions = reg.predict(test[predictors])

In [82]:
predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)

In [83]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [84]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.012934
649      Austin Rivers    0.0    -0.028143
650            Bol Bol    0.0    -0.006163
651       Bones Hyland    0.0     0.016564
652        Bryn Forbes    0.0    -0.004820
...                ...    ...          ...
12508     Micah Potter    0.0    -0.019380
12509  Rodney McGruder    0.0    -0.010197
12510        Saben Lee    0.0     0.003810
12511       Saddiq Bey    0.0     0.001162
12512   Trayvon Palmer    0.0    -0.057007

[605 rows x 3 columns]

In [85]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.190365
837              Joel Embiid  0.706     0.190462
11678  Giannis Antetokounmpo  0.595     0.219409
907             Devin Booker  0.216     0.091309
11469            Luka Dončić  0.146     0.157395
1179            Jayson Tatum  0.043     0.095903
12226              Ja Morant  0.010     0.120508
6398           Stephen Curry  0.004     0.093137
905               Chris Paul  0.002     0.078328
8241            LeBron James  0.001     0.157827

In [86]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002240037320173767

In [87]:
combination["Share"].value_counts()

Share
0.000    593
0.001      3
0.875      1
0.706      1
0.002      1
0.216      1
0.043      1
0.004      1
0.146      1
0.595      1
0.010      1
Name: count, dtype: int64

In [88]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [89]:
combination.head(10)

                      Player  Share  predictions  Rk
663             Nikola Jokić  0.875     0.190365   1
837              Joel Embiid  0.706     0.190462   2
11678  Giannis Antetokounmpo  0.595     0.219409   3
907             Devin Booker  0.216     0.091309   4
11469            Luka Dončić  0.146     0.157395   5
1179            Jayson Tatum  0.043     0.095903   6
12226              Ja Morant  0.010     0.120508   7
6398           Stephen Curry  0.004     0.093137   8
905               Chris Paul  0.002     0.078328   9
8241            LeBron James  0.001     0.157827  10

In [90]:
combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [91]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
11678  Giannis Antetokounmpo  0.595     0.219409    3             1
837              Joel Embiid  0.706     0.190462    2             2
663             Nikola Jokić  0.875     0.190365    1             3
8241            LeBron James  0.001     0.157827   10             4
11469            Luka Dončić  0.146     0.157395    5             5
6185            Kevin Durant  0.001     0.140626   12             6
12226              Ja Morant  0.010     0.120508    7             7
11820             Trae Young  0.000     0.109246  289             8
8231           Anthony Davis  0.000     0.107306  112             9
836             James Harden  0.000     0.103584  393            10

In [92]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
663             Nikola Jokić  0.875     0.190365   1             3
837              Joel Embiid  0.706     0.190462   2             2
11678  Giannis Antetokounmpo  0.595     0.219409   3             1
907             Devin Booker  0.216     0.091309   4            17
11469            Luka Dončić  0.146     0.157395   5             5
1179            Jayson Tatum  0.043     0.095903   6            13
12226              Ja Morant  0.010     0.120508   7             7
6398           Stephen Curry  0.004     0.093137   8            15
905               Chris Paul  0.002     0.078328   9            21
3938           DeMar DeRozan  0.001     0.099240  11            11

In [93]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [94]:
find_ap(combination)

0.8188235294117646

In [95]:
years = list(range(1991, 2023))

In [96]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [97]:
sum(aps) / len(aps)

0.7152712173135063

In [98]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [99]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1710      Karl Malone  0.857     0.192318   1             2    -1
10976  Michael Jordan  0.832     0.167629   2             3    -1
970        Grant Hill  0.327     0.128646   3             6    -3
4912     Tim Hardaway  0.207     0.059984   4            20   -16
8642        Glen Rice  0.117     0.033110   5            53   -48

In [100]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        reg.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [101]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [102]:
mean_ap

0.7152712173135063

In [103]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1334         Jason Kidd  0.712     0.028210   2            52   -50
8642          Glen Rice  0.117     0.033110   5            53   -48
5420         Steve Nash  0.839     0.034100   1            45   -44
8910    Peja Stojaković  0.228     0.036270   4            38   -34
13331       Joakim Noah  0.258     0.046968   4            37   -33
5438         Steve Nash  0.739     0.054129   1            34   -33
3849   Chauncey Billups  0.344     0.052696   5            35   -30
1499         Chris Paul  0.138     0.072293   5            33   -28
5453         Steve Nash  0.785     0.074421   2            21   -19
4912       Tim Hardaway  0.207     0.059984   4            20   -16

In [104]:
reg.coef_

array([ 2.93685195e-04,  9.32481986e-05,  4.35947657e-06, -4.06677581e-03,
        3.35240228e-03,  4.82730101e-03, -1.55933886e-01,  1.70081662e-03,
       -9.68132544e-03, -9.69461408e-03,  1.64556708e-02, -1.64638300e-02,
        7.05152301e-03,  8.78522138e-02, -6.34404323e-03,  1.04141913e-02,
       -4.78337590e-03,  2.09927213e-02,  3.38604329e-02, -2.65780094e-02,
        7.11289713e-03,  1.20700053e-02,  1.09007045e-02, -9.14250469e-03,
       -2.62452017e-03,  6.91826517e-03, -1.79972299e-04,  1.35829256e-04,
       -3.16029398e-04,  2.32015387e-02,  2.79400704e-04, -4.94288220e-04,
       -2.74840910e-04, -5.69199825e-04])

In [105]:
#pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

In [106]:
pd.concat([s.reset_index(drop=True) for s in [pd.Series(reg.coef_), pd.Series(predictors)]], axis=1).sort_values(0, ascending=False)

           0     1
13  0.087852  eFG%
18  0.033860   DRB
29  0.023202  W/L%
17  0.020993   ORB
10  0.016456    2P
21  0.012070   STL
22  0.010901   BLK
15  0.010414   FTA
20  0.007113   AST
12  0.007052   2P%
25  0.006918   PTS
5   0.004827   FGA
4   0.003352    FG
7   0.001701    3P
0   0.000294   Age
30  0.000279    GB
27  0.000136     W
1   0.000093     G
2   0.000004    GS
26 -0.000180  Year
32 -0.000275  PA/G
28 -0.000316     L
31 -0.000494  PS/G
33 -0.000569   SRS
24 -0.002625    PF
3  -0.004067    MP
16 -0.004783   FT%
14 -0.006344    FT
23 -0.009143   TOV
8  -0.009681   3PA
9  -0.009695   3P%
11 -0.016464   2PA
19 -0.026578   TRB
6  -0.155934   FG%

In [107]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [108]:
stat_ratios

                 PTS       AST       STL       BLK        3P  Year
Year
1991 0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
     1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
     2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
     3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
     4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...              ...       ...       ...       ...       ...   ...
2022 12508  0.485437  0.000000  0.494416  0.812081  0.000000   1.0
     12509  0.655340  0.481731  0.659221  0.270694  1.201480   1.0
     12510  0.679612  1.552243  1.648052  0.812081  0.436902   1.0
     12511  1.953883  1.498717  1.483247  0.541387  2.839863   1.0
     12512  0.000000  0.000000  0.000000  0.000000  0.000000   1.0

[14697 rows x 6 columns]

In [109]:
#removes year column to prevent error
stat_ratios = stat_ratios.droplevel(0)

In [110]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [111]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [112]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [113]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [114]:
mean_ap

0.726619022474594

In [115]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [116]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [117]:
stats["NTm"].value_counts()

NTm
7     522
27    514
8     514
17    512
14    510
11    508
0     506
12    505
9     501
1     501
31    497
26    496
15    496
13    494
18    494
5     493
24    489
34    486
10    486
30    486
28    485
29    484
19    482
33    441
36    410
16    353
20    343
32    263
25    240
2     182
4     177
23    163
3     157
21    143
6     130
37    114
35     88
22     32
Name: count, dtype: int64

In [118]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [119]:
mean_ap

0.726619022474594

In [120]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [121]:
mean_ap

0.726619022474594